In [13]:
import pandas as pd 
df = pd.read_csv('netflix_titles.csv')

In [14]:
import sqlalchemy as sal
engine = sal.create_engine('postgresql://postgres:1Loveche&&@localhost:5432/netflix_data')
conn = engine.connect()

In [15]:
df.to_sql('netflix_raw', con = conn, index = False, if_exists = 'append')
conn.close()

In [16]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...